<div class="container">
  <div class="row">
    <div class="col">
      <div class="label nav">
      <span> <%= "#{@selected_day.to_date}" %><br></span>
        <%= link_to "<-", tracks_path(offset: @offset - 1) %>
        <%= link_to "->", tracks_path(offset: @offset + 1) %>
      </div>
        <% day_times.each do |time| %> 
          <%= render partial: "time", :locals => { :time => time } %>
        <% end %>
    </div>
    <% @tracks.each do |track| %>
      <div class="col">
        <div class="label">
          <span class="label-text"><%= track.name %></span>
        </div>
        <% track.all_events(@selected_day).map do |event| %>
          <%= render partial: "event_divs", :locals => { :event => event } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>